@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Sedan:ital@0;1&display=swap');

body{
    font-family: var(--paragraph-font);
    max-width:960px;
    padding: 20px;
}

:root {
    --primary-color: #1be7ff;
    --secondary-color: #FFDC5C;
    --accent1-color: #1D2334;
    --accen21-color: #EA7317; 

    --heading-font: Poetsen,Serif ;
    --paragraph-font:Sedan , Serif;

    --nav-background-color: #1be7ff;
    --nav-link-color: #EA7317;
    --nav-hover-link-color:#ffdc5c;
    --nav-hover-background-color:#1D2334;


}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding:20px;
    background-color:var(--accent1-color);
}

p{
    padding:25px;
}

nav{
    background-color: var(--nav-hover-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var( --nav-link-color );
    text-decoration: none;
    padding: 1rem;
}
nav a :link, nav a:visited{
    color: var( --nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(  --nav-hover-background-color);
}